{
	"info": {
		"_postman_id": "f2eb0574-f7bc-4636-a362-06ab884dda59",
		"name": "Pratica",
		"schema": "https://schema.getpostman.com/json/collection/v2.1.0/collection.json"
	},
	"item": [
		{
			"name": "Get1 Pratica",
			"request": {
				"method": "GET",
				"header": [],
				"url": {
					"raw": "http://localhost:8080/pratica",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"pratica"
					]
				}
			},
			"response": []
		},
		{
			"name": "Get2 Pratica",
			"request": {
				"method": "GET",
				"header": [],
				"url": {
					"raw": "http://localhost:8080/pratica2",
					"protocol": "http",
					"host": [
						"localhost"
					],
					"port": "8080",
					"path": [
						"pratica2"
					]
				}
			},
			"response": []
		}
	],
	"protocolProfileBehavior": {}
}